body {
    font-family: "ＭＳ Ｐゴシック";
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: #ccccff;
}

.content {
    width: 1280px;
    height: 720px;
    position: relative;
    top: 0;
    left: 0;
}

.interface {
    position: relative;
    top: 0;
    left: 0;
}

.firma {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight : bold;
    color : var(--line_color);
    letter-spacing : 2px;

    position: absolute;
    right: 20px;
    bottom: 0;
}

#pgIcon {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

#map {
    position: absolute;
    left: 15px;
    top: 15px;
}

.imageOff, 
#showHouse:hover .imageOn, 
#showLagoNia:hover .imageOn, 
#showBoscoPasketta:hover .imageOn,
#showGragussySleeping:hover .imageOn,
#showCampoBasket:hover .imageOn,
#showNegozioScarpe:hover .imageOn,
#showSalon:hover .imageOn,
#showMonteMostro:hover .imageOn {
    display: none;
}

.imageOn, 
#showHouse:hover .imageOff, 
#showLagoNia:hover .imageOff, 
#showBoscoPasketta:hover .imageOff,
#showGragussySleeping:hover .imageOff,
#showCampoBasket:hover .imageOff,
#showNegozioScarpe:hover .imageOff,
#showSalon:hover .imageOff,
#showMonteMostro:hover .imageOff {
    display: block;
}

/* ID per gestire comparsa e scomparsa immagini */
#backButton {
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
}

/* House */
#showHouse {
    position: absolute;
    left: 40px;
    top: 370px;
}

/* Lago Nia */
#showLagoNia {
    position: absolute;
    left: 170px;
    top: 180px;
}

/* Bosco Pasketta */
#showBoscoPasketta {
    position: absolute;
    left: 430px;
    top: 90px;
}

/* Gragussy Sleeping */
#showGragussySleeping {
    position: absolute;
    left: 750px;
    top: 100px;
}

/* Campo Basket */
#showCampoBasket {
    position: absolute;
    left: 480px;
    top: 300px;
}

/* Negozio di Scarpe */
#showNegozioScarpe {
    position: absolute;
    left: 620px;
    top: 270px;
}

/* Salon */
#showSalon {
    position: absolute;
    left: 920px;
    top: 150px;
}

/* Monte Mostro + ambiente Monte Mostro */
#showMonteMostro {
    position: absolute;
    left: 1100px;
    top: 300px;
}

#ambient, #animation {
    position: absolute;
    left: 15px;
    top: 15px;
}

#basketBack,
#basketTop {
    position: absolute;
    left: 540px;
    top: 33px;
    visibility: hidden;
}

#basketball {
    position: absolute;
    left: 610px;
    top: 418px;
    visibility: hidden;
    cursor: pointer;
    transition: bottom 1s ease-in-out;
}

/* Salon */
#wrapper  {
  width: 850px;
  height: auto;
  position: absolute;
  left: 240px;
  top: 102px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.05);
  visibility: hidden;
  display: block;
}
.input-field{
  opacity: 0;
  z-index: -999;
  position: absolute;
}
.content-box {
  padding: 13px 20px 0;
  border-radius: 10px;
  border: 1px solid #bfbfbf;
}
.content-box .typing-text{
  overflow: hidden;
  max-height: 150px;
}
.typing-text::-webkit-scrollbar{
  width: 0;
}
.typing-text p{
  font-size: 21px;
  text-align: justify;
  letter-spacing: 1px;
  word-break: break-all;
}
.typing-text p span{
  position: relative;
}
.typing-text p span.correct{
  color: #56964f;
}
.typing-text p span.incorrect{
  color: #cb3439;
  outline: 1px solid #fff;
  background: #ffc0cb;
  border-radius: 4px;
}
.typing-text p span.active{
  color: #17A2B8;
}
.typing-text p span.active::before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: #17A2B8;
  animation: blink 1s ease-in-out infinite;
}
@keyframes blink{
  50%{ 
    opacity: 1; 
  }
}
.content-box .content{
  width: 800px;
  height: auto;
  margin-top: 17px;
  display: flex;
  padding: 12px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bfbfbf;
}
.content button{
  outline: none;
  border: none;
  width: 105px;
  color: #fff;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background: #17A2B8;
  transition: transform 0.3s ease;
}
.content button:active{
  transform: scale(0.97);
}
.content .result-details{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 140px);
  justify-content: space-between;
}
.result-details li{
  display: flex;
  height: 20px;
  list-style: none;
  position: relative;
  align-items: center;
}
.result-details li:not(:first-child){
  padding-left: 22px;
  border-left: 1px solid #bfbfbf;
}
.result-details li p{
  font-size: 19px;
}
.result-details li span{
  display: block;
  font-size: 20px;
  margin-left: 10px;
}
li span b{
  font-weight: 500;
}
li:not(:first-child) span{
  font-weight: 500;
}
@media (max-width: 745px) {
  #wrapper{
    padding: 20px;
  }
  .content-box .content{
    padding: 20px 0;
  }
  .content-box .typing-text{
    max-height: 100%;
  }
  .typing-text p{
    font-size: 19px;
    text-align: left;
  }
  .content button{
    width: 100%;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 20px;
  }
  .content .result-details{
    width: 100%;
  }
  .result-details li:not(:first-child){
    border-left: 0;
    padding: 0;
  }
  .result-details li p, 
  .result-details li span{
    font-size: 17px;
  }
}
@media (max-width: 518px) {
  .content-box{
    padding: 10px 15px 0;
  }
  .typing-text p{
    font-size: 18px;
  }
  .result-details li{
    margin-bottom: 10px;
  }
  .content button{
    margin-top: 10px;
  }
}

#score {
    font-size: 32px;
    position: absolute;
    left: 25px;
    top: 20px;
    visibility: hidden;
}

#bottoneSalon {
  visibility: hidden;
    position: absolute;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    transition: bottom 1s ease-in-out;
}

/* Box di testo */
#textBox {
  text-align: start;
    height: 150px;
    width: 1045px;
    padding: 10px;
    position: absolute;
    left: 200px;
    bottom: 15px;
}

#textP {
  font-size: 23px;
}

#nextButton {
  position: absolute;
  right: 10px;
  bottom: 10px;
  visibility: hidden;
}

/* Tris Bosco Pasketta */
#tris {
  position: absolute;
  left: 490px;
  top: 100px;
  visibility: hidden;
}

#trisTable {
  margin: 0 auto;
  border-collapse: collapse;
}

#trisTable td {
  width: 90px;
  height: 90px;
  text-align: center;
  font-size: 48px;
  cursor: pointer;
  border: 1px solid black;
  background-color: darkgreen;
}

#trisTable td:hover {
  background-color: green;
}

#trisTable h1 {
  text-align: center;
}

/* Quiz */
#quiz-box {
  width: 650px;
  height: 350px;
  position: absolute;
  left: 240px;
  top: 30px;
  visibility: hidden;
  display: block;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

#quiz-box button {
  display: block;
  width: 130px;
  height: 80px;
  display: inline-block;
  margin: 25px 10px 0 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#next-btn {
  position: absolute;
  left: 255px;
  bottom: 20px;
}

#finish-btn {
  position: absolute;
  left: 255px;
  bottom: 20px;
  visibility: hidden;
}

#quiz-box button:hover {
  background-color: #2980b9;
}

#quiz-box button.correct {
  background-color: #27ae60;
}

#quiz-box button.incorrect {
  background-color: #e74c3c;
}

#score {
  margin-top: 20px;
  font-size: 18px;
}
