body {
    background-color: #ccffcc;
    font-family: Arial, sans-serif;
    text-align: center;
}

.gif_top {
    position: absolute;
    top: 50px;
    left: 42%;
}

.gif_left {
    position: absolute;
    left: 50px;
    top: 40%;
}

.gif_right {
    position: absolute;
    right: 50px;
    top: 40%;
}

.gif_bottom {
    position: absolute;
    bottom: 100px;
    left: 42%;
}

.volevi_capo {
    position: absolute;
    font-size: 90px;
    top: 38%;
    left: 30%;
}

.spanne {
    position: absolute;
    font-size: 10px;
    top: 50%;
    left: 47%;
}

/* Rimani sulle stesse animazioni */
.gif_top,
.gif_bottom {
    animation: rotate 10s linear infinite;
}

.gif_left,
.gif_right {
    animation: rotateOpposite 10s linear infinite;
}

.kachow_image {
    position: absolute;
    top: 55%;
    left: 0;
    animation: kachow 0.1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateOpposite {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes kachow {
    0% {
        transform: translate(550%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}